

body{ 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header{
	display: flex;
	flex-direction: column;
	}

.nav1{

	}

.nav1 a{
	text-decoration: none;
	color: white;
	background-color: coral;
	padding: 10px;

}

.aboutMe{

}

.aboutText{

}

.picContainer{

}

.row1{

}

.row2{

}

footer{
	
}

button{

}


@media (max-width: 800px) {

}

@media (max-width 500px) {

}